:root{
    --main-backgound-color: #ffffff;
    --main-backgound-color-opacity09: rgba(255, 255, 255, 0.9);
    --additional-background-color: #EEEEEE;
    --background-around: #F2F2F2;
    --dark-text-color: #000000;
    --semi-dark-text-color: #333333;
    --medium-text-color: #666666;
    --semi-light-text-color: rgba(0, 0, 0, 0.3);
    --light-text-color: #ffffff;
    --light-text-color-opacity03: rgba(255, 255, 255, 0.3);
    --site-main-color: #81B3D2;
    --site-main-color-medium: #669EC0;
    --site-main-color-dark: #5496BD;
    --site-accent-color: #766357;
    --site-accent-color-medium: #604E43;
    --site-accent-color-dark: #503E33;
    --searchform-icons-fill-color: #A9A9A9;
    --inputs-background-color: #F2F2F2;
    --inputs-hover-background-color: #EBEBEB;
    --copyright-icon-fill-color: #231F20;
    --copyright-icon-fill-color-active: #BDBBBC;
    --price-filter-controls-color: #ABABAB;
    --body-shadow: rgba(0, 1, 1, 0.2);
}


/* Global styles */
*{
    box-sizing: border-box;
}

body{
    position: relative;
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: var(--dark-text-color);
    background-color: var(--background-around);
}

img{
    max-width: 100%;
    height: auto;
}

/* MAIN GRID  */
html{
    height: 100%;
}

.width-wrapper{
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--main-backgound-color);
    box-shadow: 0px 5px 15px var(--body-shadow);
}


/* Special */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* styles for blue buttons */
.accent-color-button{
    color: var(--light-text-color);
    background-color: var(--site-accent-color);
}

.accent-color-button:hover,
.accent-color-button:focus{
    background-color: var(--site-accent-color-medium);
    color: var(--light-text-color);
}

.accent-color-button:active{
    color: var(--light-text-color-opacity03);
    background-color: var(--site-accent-color-dark);
}

/* styles for broun buttons  */
.main-color-button{
    color: var(--light-text-color);
    background-color: var(--site-main-color);
}

.main-color-button:hover,
.main-color-button:focus{
    color: var(--light-text-color);
    background-color: var(--site-main-color-medium);
}

.main-color-button:active{
    color: var(--light-text-color-opacity03);
    background-color: var(--site-main-color-dark);
}

/* !MAIN PAGE STYLES  */

/* HEADER  */
.main-nav{
    min-height: 56px;
}

.main-nav__logo-link{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.main-nav__menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav__menu-item{
    width: 25%;
}

.main-nav__menu-item:nth-child(-n+2){
    text-align: left;
}

.main-nav__menu-item:nth-last-child(-n+2){
    text-align: right;
}

.main-nav__menu-item:first-child .main-nav__menu-link{
    padding-left: 72px;
    padding-right: 10px;
}

.main-nav__menu-item:last-child .main-nav__menu-link{
    padding-right: 72px;
    padding-left: 10px;
}

.main-nav__menu-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.86;
    font-weight: 700;
    color: var(--dark-text-color);
}

.main-nav__menu-link:hover,
.main-nav__menu-link:focus{
    color: var(--site-main-color);
}

.main-nav__menu-link:active{
    color: var(--semi-light-text-color);
}

.main-nav__menu-link--current{
    color: var(--site-accent-color);
}

/* MAIN  */

/* SLOGAN SECTION */
.slogan{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.slogan__header{
    order: 2;
    margin: 42px auto 14px auto;
    width: 470px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24;
    text-align: center;
}

.slogan-text{
    margin: 0;
    position: relative;
    background-image: url(../img/background_photo.jpg);
    background-size: 1200px 509px;
    min-height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan__bottom-shape{
    position: absolute;
    width: 1200px;
    height: 57px;
    fill: var(--main-backgound-color);
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slogan-text__item:nth-child(1){
    width: 188px;
    height: 45px;
    margin-top: 76px;
    margin-bottom: 12px;

}

.slogan-text__item:nth-child(2){
    width: 265px;
    height: 29px;
    margin-bottom: 52px;
}

.slogan-text__item:nth-child(3){
    width: 456px;
    height: 213px;
}

/* FEATURES SECTION  */

.features-heading{
    margin: 0;
    text-align: center;
    margin-bottom: 56px;
}

.features-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list__item{
    text-align: center;
    background-color: var(--additional-background-color);
}

.features-list__item--special{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.features-list__item--special .features-list__item-text{
    background-color: var(--site-main-color);
    color: var(--light-text-color);
}

.features-list__item--special:nth-child(odd) .features-list__img{
    grid-column: 2/4;
}

.features-list__item--special:nth-child(even) .features-list__img{
    grid-column: 1/3;
    order: -1;
}

.features-list__img{
    width: 800px;
    height: 256px;
}

.features-list__img-file{
    object-fit: cover;
}

.features-list__sub-list{
    list-style: none;
    text-align: center;
    background-color: var(--main-backgound-color);
    margin: 0;
    padding: 0;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.features-list__item-text{
    padding: 48px 58px 52px 58px;
}

.features-list__item--special:nth-child(odd) .features-list__item-text{
    padding: 46px 50px 46px 50px;
}

.features-list__item--special:nth-child(even) .features-list__item-text{
    padding: 50px 46px 50px 46px;
}

.features-list__sub-item{
    padding: 50px;
    padding-bottom: 80px;
}

.features-list__svg{
    margin: 0 auto;
    height: 77px;
    width: 77px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.features-list__sub-item:nth-child(3) .features-list__svg{
    margin-top: 5px;
    margin-bottom: 25px;
}

.features-list__title{
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.features-list__number{
    margin-bottom: 28px;
    display: block;
}

.features-list__sub-item .features-list__title{
    margin-bottom: 26px;
}

.features-list__desc{
    margin: 0;
    line-height: 1.5;
}


/* HOTEL SEARCH SECTION  */
.hotel-search{
    padding-top: 58px;
}

.hotel-search__heading{
    font-size: 30px;
    line-height: 0.8;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 50%;
    margin-bottom: 32px;
}

.hotel-search__desc{
    margin: 0 auto;
    text-align: center;
    max-width: 440px;
    line-height: 1.8;
    margin-bottom: 42px;
}

.hotel-search__form-wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 70%;
    width: fit-content;
}

.hotel-search__button{
    display: block;
    margin: 0 auto;
    padding: 30px 130px 30px 130px;
    width: fit-content;
    min-width: 568px;
    max-width: 100%;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--site-accent-color);
}

.hotel-search__form{
    width: 100%;
    min-width: 568px;
    padding: 55px;
    position: absolute;
    z-index: 10;
    background-color: var(--light-text-color);
}

.hotel-search__fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

.hotel-search__input-item{
    margin: 0;
    position: relative;
}

.hotel-search__label{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.86;

}

.hotel-search__input{
    height: 38px;
    border: none;
    padding: 0;
    width: 100%;
    background-color: var(--inputs-background-color);
    border-radius: 0;
}

.hotel-search__input:hover{
    background-color: var(--inputs-hover-background-color);
}

.hotel-search__input:focus{
    background-color: var(--light-text-color);
    box-shadow: inset 0px 0px 0px 2px var(--inputs-hover-background-color);
    outline: none;
}

.hotel-search__input[type=number]::-webkit-inner-spin-button,
.hotel-search__input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.hotel-search__input[type=number]{
    -moz-appearance: textfield;
}

.hotel-search__input[placeholder]{
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    text-transform: uppercase;
}

.hotel-search__input::-webkit-input-placeholder{
    color: var(--dark-text-color);
}

.hotel-search__input::-moz-placeholder{
    color: var(--dark-text-color);
}

.hotel-search__input-item--big{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 30px;
    align-items: center;
}

.hotel-search__date-button{
    position: absolute;
    right: 3px;
    border: none;
    cursor: pointer;
    padding: 6px;
    background-color: transparent;
}

.hotel-search__date-button .hotel-search__date-svg{
    fill: var(--searchform-icons-fill-color);
}

.hotel-search__date-button:hover .hotel-search__date-svg,
.hotel-search__date-button:focus .hotel-search__date-svg{
    fill: var(--dark-text-color);
}

.hotel-search__date-button:active .hotel-search__date-svg{
    fill: var(--site-main-color);
}

.hotel-search__number-inputs{
    margin-bottom: 54px;
}

.hotel-search__number-items-container{
    display: flex;
    flex-direction: row;
}

.hotel-search__buttons-input-container{
    position: relative;
}

.hotel-search__input-item--small{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hotel-search__input-item--small .hotel-search__label,
.hotel-search__input-item--small .hotel-search__buttons-input-container{
    width: 50%;
}

.hotel-search__input-item--small:nth-child(even) .hotel-search__label{
    padding-left: 50px;
}

.hotel-search__input-item--small .hotel-search__input[placeholder]{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.hotel-search__input-button{
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 19px;
    background-color: transparent;
    top: 0;
    border: none;
}

.hotel-search__input-button--minus{
    left: 0;
}

.hotel-search__input-button::before{
    position: absolute;
    content: " ";
    width: 12px;
    height: 3px;
    background-color: var(--searchform-icons-fill-color);
    right: 0;
    transform: translateX(-110%);
}

.hotel-search__input-button--minus::before{
    left: 0;
    transform: translateX(110%);
}

.hotel-search__input-button--plus::after{
    position: absolute;
    content: " ";
    width: 12px;
    height: 3px;
    background-color: var(--searchform-icons-fill-color);
    right: 0;
    top: 0;
    transform: rotate(90deg) translateY(13px) translateX(19px);
}

.hotel-search__input-button:hover::before,
.hotel-search__input-button:hover::after,
.hotel-search__input-button:focus::before,
.hotel-search__input-button:focus::after{
    background-color: var(--dark-text-color);
}

.hotel-search__input-button:active::before,
.hotel-search__input-button:active::after{
    background-color: var(--site-main-color);
}

.hotel-search__form-button{
    width: 100%;
    border: none;
    background-color: var(--site-main-color);
    color: var(--light-text-color);
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24;
    padding: 16px;
    cursor: pointer;
}

/* .hotel-search__form--hidden{
    display: none;
} */


/* MAP  */
.map{
    position: relative;
    height: 594px;
    width: 1200px;
}

.map-img{
    z-index: -1;
    object-fit: cover;
}

.map iframe{
    position: absolute;
    z-index: 0;
    border: none;
    width: 100%;
    height: 594px;
    width: 1200px;
}

/* FOOTER  */
.main-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    text-align: center;
    padding: 54px;
    padding-top: 18px;
    padding-bottom: 32px;
}

.main-page-main + .main-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--main-backgound-color-opacity09);
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    line-height: 1.7;
    font-weight: 700;
    margin: 0;
}

.footer-contacts__tel-link{
    color: var(--dark-text-color);
    text-decoration: none;
} 


.socials-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-top: 16px;
}

.socials-list__item-link{
    display: block;
    width: 46px;
    height: 48px;
    margin: 3px;
    background-color: var(--site-main-color);
    position: relative;
}

.socials-list__item-svg{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    fill: var(--light-text-color);
}

.socials-list__item-link:active .socials-list__item-svg{
    fill: var(--light-text-color-opacity03);
}

.footer-copyright{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin-bottom: 5px;
}

.footer-copyright__text{
    display: block;
    margin-right: 8px;
}

.footer-copyrightlink .footer-copyright__svg{
    fill: var(--copyright-icon-fill-color);
}

.footer-copyrightlink:focus .footer-copyright__svg,
.footer-copyrightlink:hover .footer-copyright__svg{
    fill: var(--site-main-color);
}

.footer-copyrightlink:active .footer-copyright__svg{
    fill: var(--copyright-icon-fill-color-active);
}



/* HOTELS PAGE STYLES */
.filters{
    background-image: url(../img/background_photo.jpg);
    background-position-y: 70%;
    color: var(--light-text-color);
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: 0;
}

.filters-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 26px 72px 10px 72px;
}


.filters-wrapper::before {
    content: " ";
    position: absolute;
    left: -20px;
    right: 0;
    top: -20px;
    bottom: 0;
    z-index: -1;
    background: url(../img/background_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    filter: blur(10px);
    width: 120%;
    height: 120%;
   }

.filters__fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

.filters-group{
    padding-right: 118px;
    z-index: 0;
}

.filter__price-button-container{
    justify-self: end;
}

.filters-group__legend{
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    margin-bottom: 26px;
}

.filters-group__item{
    position: relative;
    margin: 0;
    margin-bottom: 24px;
}

.filters-group__input + .filters-group__label::before{
    position: absolute;
    content: " ";
    width: 25px;
    height: 23px;
    left: 0;
    top: 0;
    background-image: url(../img/checkbox-off.svg);
    background-size: 23px 23px;
    background-repeat: no-repeat;
    opacity: 1;
}

.filters-group__input:focus + .filters-group__label::before{
    outline-color: var(--searchform-icons-fill-color);
    outline-style: auto;
    outline-width: 2px;
}

.filters-group__input:disabled + .filters-group__label::before{
    opacity: 0.3;
}

.filters-group__input:checked + .filters-group__label::before{
    position: absolute;
    content: " ";
    width: 25px;
    height: 23px;
    left: 0;
    top: 0;
    background-image: url(../img/checkbox-on.svg);
    background-size: 27px 23px;
    background-repeat: no-repeat;
    opacity: 1;
}

.filters-group__input:checked:disabled + .filters-group__label::before{
    opacity: 0.3;
}


.filters-group__label{
    font-size: 14px;
    line-height: 1.5;
    padding-left: 40px;
}

.filters-group__price-button-container {
    margin-left: auto;
}

.filters-group__price{
    margin-bottom: 32px;
    z-index: 0;
}

.filters-group__price .filters-group__legend{
    margin-bottom: 12px;
}

.filters-group__min-max{
    border: 2px solid var(--light-text-color);
    border-radius: 2px;
    padding: 5px 0 6px 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: max-content;
    min-width: 317px;
    margin-bottom: 20px;
}

.filters-group__min,
.filters-group__max{
    width: 50%;
    white-space: nowrap;
    text-align: center;
    line-height: 1.5;
    position: relative;
}

.filters-group__min::after{
    content: " ";
    position: absolute;
    background-color: var(--light-text-color);
    width: 2px;
    height: 22px;
    right: 0;
    transform: translateX(100%);
}

.price-controls{
    position: relative;
}

.price-controls__scale{
    height: 2px;
    width: auto;
    background-color: var(--light-text-color-opacity03);
}

.price-controls__bar{
    background-color: var(--light-text-color);
    height: 100%;
    width: auto;
    margin-right: 20%;
}

.price-controls__toggle{
    position: absolute;
    padding: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 7px solid var(--light-text-color);
    background-color: var(--price-filter-controls-color);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--price-filter-controls-color);
    cursor: pointer;
    transform: translateY(-50%);
}

.price-controls .toggle-min {
    left: 0%;
}

.price-controls .toggle-max {
    left: 80%;
}


.price-controls__toggle:focus,
.price-controls__toggle:hover{
    width: 23px;
    height: 23px;
    border: 9px solid var(--light-text-color);
    transform: translateY(-50%) translateX(-2px);
}


.filters__button{
    background-color: transparent;
    color: var(--light-text-color);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--light-text-color);
    border-radius: 2px;
    padding: 6px 34px 6px 34px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transform: translateX(-6px);
}


.filters__button:hover,
.filters__button:focus,
.filters__button:active{
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
}



/* SORTING SECTION  */
.sorting{
    padding: 28px 72px 15px 72px;
    display: flex;
}

.sorting-heading{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-right: 40px;
    margin-top: 4px;
}

.sorting-quantity{
    order: -1;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 48px;
    align-self: start;
    flex-shrink: 0;
}

.sort-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-self: center;
    flex-grow: 1;
    margin-top: 4px;
}

.sort-list__item{
    margin-right: 32px;
    margin-bottom: 22px;
}

.sort-list__link{
    font-size: 12px;
    display: block;
    font-weight: 400;
    line-height: 1.4;
    color: var(--semi-light-text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--site-main-color);
}

.sort-list__link:hover,
.sort-list__link:focus{
    color: var(--site-main-color);
}

.sort-list__link:active{
    text-decoration: none;
    color: var(--dark-text-color);
}

.sort-list__link--active{
    color: var(--site-main-color);
    text-decoration: none;
}

.range-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* align-self: center; */
    justify-content: flex-end;
    flex-shrink: 3;
    margin-top: 8px;
}

.range-list__item{
    margin-left: 12px;
}

.range-list__link .range-list__arrow{
    fill: var(--semi-light-text-color);
}

.range-list__link:hover .range-list__arrow,
.range-list__link:focus .range-list__arrow{
    fill: var(--dark-text-color);
}

.range-list__link:active .range-list__arrow{
    fill: var(--site-main-color);
}

.range-list__link--active .range-list__arrow{
    fill: var(--site-main-color);
}

.range-list__link--active:hover .range-list__arrow,
.range-list__link--active:focus .range-list__arrow{
    fill: var(--site-main-color);
}


/* HOTELS SECTION  */
.hotels-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotels-list__item{
    margin: 0;
    padding: 24px 72px 30px 73px;
    display: flex;
    border-bottom: 1px solid var(--semi-light-text-color);
}

.hotels-list__item:first-child{
    border-top: 1px solid var(--semi-light-text-color);
}

.hotels-list__img-link{
    display: block;
    width: 135px;
    height: 90px;
    margin-right: 29px;
    margin-top: 6px;
    flex-shrink: 0;
}

.hotels-list__img{
    object-fit: cover;
}

.hotels-list__item-description-container{
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 6px;
    flex-grow: 1;
}

.hotels-list__item-sidebar {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 5px;
}

.hotels-list__item-name-link{
    text-decoration: none;
    grid-column: 1/3;
    color: var(--dark-text-color);
}

.hotels-list__item-name-link:hover,
.hotels-list__item-name-link:focus{
    color: var(--site-main-color);
}

.hotels-list__item-name-link:active{
    color: var(--semi-light-text-color);
}

.hotels-list__item-name{
    margin: 0;
    font-size: 21px;
    line-height: 1.24;
    font-weight: 700;
}

.hotels-list__item-link,
.hotels-list__item-button{
    text-decoration: none;
    display: block;
    padding: 3px 16px 3px 17px;
    align-self: end;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    justify-self: baseline;
}

.hotels-list__stars{
    background-image: url(../img/star.svg);
    background-repeat: space repeat;
    height: 17px;
}

.hotels-list__stars-5{
    width: 104px;
}

.hotels-list__stars-4{
    width: 89px;
}

.hotels-list__stars-3{
    width: 65px;
}

.hotels-list__stars-2{
    width: 40px;
}

.hotels-list__stars-1{
    width: 18px;
}

.hotels-list__item-rating {
    background-color: var(--inputs-background-color);
    padding: 6px 14px 6px 14px;
    color: var(--medium-text-color)
}